header {
  width: 100%;
  align-items: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(255,	247,	41);
  align-items: center;
}

.HomeLayout {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 8%;
}

.Main {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  bottom: 10px;
}
